<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <link href="/css/general.css" rel="stylesheet" type="text/css"/>
    <head th:replace="layout/plantilla :: head">
        <title>GameShop</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
            <h2>Listado de articulos</h2>
            <a class="btn btn-primary" th:href="@{/articulo/nuevo}" sec:authorize="hasRole('ROLE_ADMIN')" role="button">Nuevo Articulo</a>
            <div thrif="${articulos !=null and !articulos.empty}">
                <table class="table">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Descripcion</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Existencias</th>
                            <th scope="col">Activo</th>
                            <th sec:authorize="hasRole('ROLE_ADMIN')" scope="col">Eliminar</th>
                            <th sec:authorize="hasRole('ROLE_ADMIN')" scope="col">Modificar</th>
                        </tr>
                    </thead>
                    <tbody>
                       <tr th:each="articulo:${articulos}">
                            <td scope="row" th:text="${articulo.descripcion}"></td>
                            <td scope="row" th:text="${'₡'+#numbers.formatDecimal(articulo.precio,3,2)}"></td>
                            <td scope="row" th:text="${articulo.existencias}"></td>
                            <td scope="row"><input type="checkbox" name="activo"th:checked="${articulo.activo}"disabled="true"/></td>
                            <td sec:authorize="hasRole('ROLE_ADMIN')" scope="row"><a th:href="@{/articulo/eliminar/} + ${articulo.id_Articulo}">Eliminar</a></td>
                            <td sec:authorize="hasRole('ROLE_ADMIN')" scope="row"><a th:href="@{/articulo/modificar/} + ${articulo.id_Articulo}">Modificar</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${articulos == null or articulos.empty}">
                <h3>No hay articulos... </h3>
            </div>
        </div>
        <footer th:replace="layout/Plantilla :: footer"/>
    </body>
</html>
