<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <head th:replace="layout/Plantilla :: head">
        <title>TechShop</title>
        <meta charset="UTF-8"/>
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/Plantilla :: header"/>
             
        <section th:replace="carrito/fragmentoscarrito :: listadoCarrito"/>
        
        <footer th:replace="layout/Plantilla :: footer"/>
    </body>
</html>
