<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <link href="/css/general.css" rel="stylesheet" type="text/css"/>
    <head th:replace="layout/plantilla :: head">
        <title>GameShop</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div>
            <div class="destacados">
                <a style="color: aqua; font-family: fantasy; font-size: 60px;">Destacados</a>
            </div>
            <ul class="item-list" style="padding-right: 80px;">
                <li>
                    <picture>
                        <img src='/images/pc.png' width=300px alt="pc">
                    </picture>
                </li>
                <li>
                    <picture>
                        <img src='/images/play4.jpg' width=300px alt="play4">
                    </picture>
                </li>
                <li>
                    <picture>
                        <img src='/images/farcry.jpg' width=200px alt="farcry">
                    </picture>
                </li>
            </ul>
            <div class="destacados">
                <a>Ofertas</a>
            </div>
            <ul class="item-list" style="padding-right: 80px;">
                <li>
                    <picture>
                        <img src='/images/xbox.jpg' width=300px alt="xbox">
                    </picture>
                </li>
                <li>
                    <picture>
                        <img src='/images/nintendo.png' width=300px alt="nintendo">
                    </picture>
                </li>
                <li>
                    <picture>
                        <img src='/images/play5.png' width=200px alt="play5">
                    </picture>
                </li>
            </ul> 
        <div/>    
    </body>
</html>
