<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <link href="/css/general.css" rel="stylesheet" type="text/css"/>
    <head th:replace="layout/plantilla :: head">
        <title>GameShop</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div>
            <div class="destacados">
                <a style="color: aqua; font-family: fantasy; font-size: 60px;">Destacados</a>
            </div>
            <ul class="item-list" style="padding-right: 80px;">
                <li>
                    <picture>
                        <img th:src='@{https://user-images.githubusercontent.com/105826473/180692734-6cffe90e-5a07-45e3-90e1-d64533ea5ac5.png}' width=300px alt="pc">
                    </picture>
                </li>
                <li>
                    <picture>
                        <img th:src='@{https://user-images.githubusercontent.com/105826473/180692736-b294c05f-a26b-4c2e-88ad-a84d444d9134.jpg}' width=300px alt="play4">
                    </picture>
                </li>
                <li>
                    <picture>
                        <img th:src='@{https://user-images.githubusercontent.com/105826473/180692711-75613290-89b6-47d3-b1d8-3e53aaca2409.jpg}' width=200px alt="farcry">
                    </picture>
                </li>
            </ul>
            <div class="destacados">
                <a style="color: crimson; font-family: fantasy; font-size: 60px;">Ofertas</a>
            </div>
            <ul class="item-list" style="padding-right: 80px;">
                <li>
                    <picture>
                        <img th:src='@{https://user-images.githubusercontent.com/105826473/180692744-27c4f0f7-e27b-4881-a776-4f3e121b23ba.jpg}' width=300px alt="xbox">
                    </picture>
                </li>
                <li>
                    <picture>
                        <img th:src='@{https://user-images.githubusercontent.com/105826473/180692727-a483db16-9f72-4e70-bd6c-1f93e6e5b92f.png}' width=300px alt="nintendo">
                    </picture>
                </li>
                <li>
                    <picture>
                        <img th:src='@{https://user-images.githubusercontent.com/105826473/180692737-4da184a4-a2cd-4e6c-a146-6c03a5560a30.png}' width=200px alt="play5">
                    </picture>
                </li>
            </ul> 
        <div/>    
    </body>
</html>
