<html xmlns:th="http://www.thymeleaf.org"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <link href="/css/general.css" rel="stylesheet" type="text/css"/>
    <head th:replace="layout/plantilla :: head">
        <title>Gameshop</title>
        <meta charset="UTF-8">
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="container">
            <div class="row g-2">
                <div class="col-6">
                    <div class="p-3 border bg-light">Custom column padding</div>
                </div>
                <div class="col-6">
                    <div class="p-3 border bg-light">Custom column padding</div>
                </div>
                <div class="col-6">
                    <div class="p-3 border bg-light">Custom column padding</div>
                </div>
                <div class="col-6">
                    <div class="p-3 border bg-light">Custom column padding</div>
                </div>
            </div>
        </div>
        <ul class="informacion">
            <li>Aparcamiento, Calle Siles 203, Santa Marta, San José, San Pedro, 11501</li>
            <li>8888-8888 / 2222-2222</li>
            <li>contacto@gameshop.com</li>
            <li>Lunes a Sábado de 9:00am a 6:00pm / Domingo cerrado.</li>
        </ul>
        <div class="maps" style="width: 18rem; ">
            <img th:src="@{https://user-images.githubusercontent.com/105826473/180692722-c6e619a1-10af-4852-861c-b41fbc6bdc5d.png}" class="card-img-top" alt="..." width="300px">
            <div class="card-body" style="text-align: center">
                <p class="card-text">A continuacion la ubicacion de GameShop </p>
                <a href="https://g.page/UFidelitasSanPedro?share" class="btn btn-primary" target=”_blank”>Ir a google maps</a>
            </div>
        </div>
        <footer th:replace="layout/Plantilla :: footer"/>
    </body>
</html>
