<html xmlns:th="http://www.thymeleaf.org"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <link href="/css/general.css" rel="stylesheet" type="text/css"/>
    <head th:replace="layout/plantilla :: head">
        <title th:text="#{aplicacion.titulo}"></title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
            <div class="destacados">
                <a  style="color: gold;  font-family: fantasy; font-size: 60px;" th:text="#{plantilla.microsoft}"></a>
            </div>
            <div class="destacados">
                <a  style="color: gold;  font-family: fantasy;" th:text="#{descripcion.microsoft}"></a>
            </div>
            
            <section th:replace="carrito/fragmentoscarrito :: listadoArticulosm"/>
            <footer th:replace="layout/plantilla :: footer"/>

            <script>
                function addCard(formulario){
                    var valor = formulario.elements[0].value;
                    var url = '/carrito/agregar';
                    url = url + '/' + valor;
                    $("#resultsBlock").load(url);
                }
            </script>
    </body>
</html>