<html xmlns:th="http://www.thymeleaf.org"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:sec="http://thymeleaf.org/extras/spring-security">
    <link href="/css/general.css" rel="stylesheet" type="text/css"/>
    <head th:replace="layout/plantilla :: head">
        <title>GameShop</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div>
            <div class="destacados">
                <a  style="color: red;  font-family: fantasy; font-size: 60px;">Nintendo</a>
            </div>
            <div class="destacados">
                <a  style="color: red;  font-family: fantasy;">¡Tus articulos de Nintendo y objetos exclusivos los encontras acá!</a>
            </div>
            <ul class="item-list" style="padding-right: 80px;">
                <li>
                    <picture>
                        <img th:src='@{https://user-images.githubusercontent.com/105826473/180692727-a483db16-9f72-4e70-bd6c-1f93e6e5b92f.png}' width=300px alt="nintendo">
                        <p class="texto-debajo">Nintendo Switch</p>
                        <a th:href="@{/}"><img src='/images/carrito.jpg' width=20px alt="carrito"></a>
                    </picture>
                </li>
                <li>
                    <picture>
                        <img th:src='@{https://user-images.githubusercontent.com/105826473/180692710-ac2c251a-cfa4-4a11-abc2-6af0f9df8abf.jpg}' width=300px alt="ds">
                        <p class="texto-debajo">Nintendo DS Titanium</p>
                        <a th:href="@{/}"><img src='/images/carrito.jpg' width=20px alt="carrito"></a>
                    </picture>
                </li>
                <li>
                    <picture>
                        <img th:src='@{https://user-images.githubusercontent.com/105826473/180692723-31d1a36d-a072-40bd-a023-16b0f6caabe2.jpg}' width=200px alt="mario">
                        <p class="texto-debajo">Super Mario Bros DELUXE</p>
                        <a th:href="@{/}"><img src='/images/carrito.jpg' width=20px alt="carrito"></a>
                    </picture>
                </li>
            </ul>         
            <ul class="item-list" style="padding-right: 80px;">
                <li>
                    <picture>
                        <img th:src='@{https://user-images.githubusercontent.com/105826473/180692720-1b3b84ac-016d-4b4d-ba03-b4ddbf2fdcb2.jpg}' width=300px alt="mandonintendo">
                        <p class="texto-debajo">Mando Nintendo Switch</p>
                        <a th:href="@{/}"><img src='/images/carrito.jpg' width=20px alt="carrito"></a>
                    </picture>
                </li>
                <li>
                    <picture>
                        <img th:src='@{https://user-images.githubusercontent.com/105826473/180692732-ce0cc779-8295-4e4d-8e2f-8e09aa99b248.jpg}' width=300px alt="packds">
                        <p class="texto-debajo">Pack de juegos 3DS</p>
                        <a th:href="@{/}"><img src='/images/carrito.jpg' width=20px alt="carrito"></a>
                    </picture>
                </li>
                <li>
                    <picture>
                        <img th:src='@{https://user-images.githubusercontent.com/105826473/180692724-0a3af285-8eb0-4329-9784-520078f1495c.jpg}' width=200px alt="membrenint">
                        <p class="texto-debajo">Membresia 3 Meses Online Switch</p>
                        <a th:href="@{/}"><img src='/images/carrito.jpg' width=20px alt="carrito"></a>
                    </picture>
                </li>
            </ul>
        <div/>
        <footer th:replace="layout/Plantilla :: footer"/>
    </body>
</html>

