<html xmlns:th="http://www.thymeleaf.org">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link href="/css/general.css" rel="stylesheet" type="text/css"/>
    <head>
        <title>GameShop</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">GAMESHOP</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
                <div class="collapse navbar-collapse" id="navbarText">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link" th:href="@{/playstation}" style="color: blue;">PlayStation</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" th:href="@{/microsoft}" style="color: gold;">Microsoft</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" th:href="@{/nintendo}" style="color: red;">Nintendo</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" th:href="@{/xbox}" style="color: green;">Xbox</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" th:href="@{/informacion}" style="color: turquoise;">Informacion</a>
                    </li>
                  </ul>
                    <!--<span class="navbar-text">
                    Cualquier texto
                  </span>-->
                </div>
            </div>    
        </nav>       
        <div>
            <div class="destacados">
                <a  style="color: red;  font-family: fantasy; font-size: 60px;">Nintendo</a>
            </div>
            <div class="destacados">
                <a  style="color: red;  font-family: fantasy;">¡Tus articulos de Nintendo y objetos exclusivos los encontras acá!</a>
            </div>
            <ul class="item-list" style="padding-right: 80px;">
                <li>
                    <picture>
                        <img src='/images/nintendo.png' width=300px alt="nintendo">
                        <p class="texto-debajo">Nintendo Switch</p>
                        <a th:href="@{/}"><img src='/images/carrito.jpg' width=20px alt="carrito"></a>
                    </picture>
                </li>
                <li>
                    <picture>
                        <img src='/images/ds.jpg' width=300px alt="ds">
                        <p class="texto-debajo">Nintendo DS Titanium</p>
                        <a th:href="@{/}"><img src='/images/carrito.jpg' width=20px alt="carrito"></a>
                    </picture>
                </li>
                <li>
                    <picture>
                        <img src='/images/mario.jpg' width=200px alt="mario">
                        <p class="texto-debajo">Super Mario Bros DELUXE</p>
                        <a th:href="@{/}"><img src='/images/carrito.jpg' width=20px alt="carrito"></a>
                    </picture>
                </li>
            </ul>         
            <ul class="item-list" style="padding-right: 80px;">
                <li>
                    <picture>
                        <img src='/images/mandonintendo.jpg' width=300px alt="mandonintendo">
                        <p class="texto-debajo">Mando Nintendo Switch</p>
                        <a th:href="@{/}"><img src='/images/carrito.jpg' width=20px alt="carrito"></a>
                    </picture>
                </li>
                <li>
                    <picture>
                        <img src='/images/packds.jpg' width=300px alt="packds">
                        <p class="texto-debajo">Pack de juegos 3DS</p>
                        <a th:href="@{/}"><img src='/images/carrito.jpg' width=20px alt="carrito"></a>
                    </picture>
                </li>
                <li>
                    <picture>
                        <img src='/images/membrenint.jpg' width=200px alt="membrenint">
                        <p class="texto-debajo">Membresia 3 Meses Online Switch</p>
                        <a th:href="@{/}"><img src='/images/carrito.jpg' width=20px alt="carrito"></a>
                    </picture>
                </li>
            </ul>
        <div/>    
    </body>
</html>
