<html xmlns:th="http://www.thymeleaf.org"
        xmlns="http://www.w3.org/1999/xhtml">
    <link href="/css/general.css" rel="stylesheet" type="text/css"/>
    <head th:replace="layout/plantilla :: head">
        <title>GameShop</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div>
            <div class="destacados">
                <a  style="color: blue;  font-family: fantasy; font-size: 60px;">Playstation</a>
            </div>
            <div class="destacados">
                <a  style="color: blue;  font-family: fantasy;">¡Tus articulos de Sony y de Playstation favoritos los encontras acá!</a>
            </div>
            <ul class="item-list" style="padding-right: 80px;">
                <li>
                    <picture>
                        <img src='/images/play5.png' width=300px alt="pc">
                        <p class="texto-debajo">Playstation 5</p>
                        <a th:href="@{/}"><img src='/images/carrito.jpg' width=20px alt="carrito"></a>
                    </picture>
                </li>
                <li>
                    <picture>
                        <img src='/images/play4.jpg' width=300px alt="play4">
                        <p class="texto-debajo">Playstation 4 Pro</p>
                        <a th:href="@{/}"><img src='/images/carrito.jpg' width=20px alt="carrito"></a>
                    </picture>
                </li>
                <li>
                    <picture>
                        <img src='/images/mando5.jpg' width=200px alt="farcry">
                        <p class="texto-debajo">Mando Playstation 5</p>
                        <a th:href="@{/}"><img src='/images/carrito.jpg' width=20px alt="carrito"></a>
                    </picture>
                </li>
            </ul>         
            <ul class="item-list" style="padding-right: 80px;">
                <li>
                    <picture>
                        <img src='/images/playvr.jpg' width=300px alt="vr">
                        <p class="texto-debajo">Playstation VR</p>
                        <a th:href="@{/}"><img src='/images/carrito.jpg' width=20px alt="carrito"></a>
                    </picture>
                </li>
                <li>
                    <picture>
                        <img src='/images/juegops4.jpg' width=300px alt="play4">
                        <p class="texto-debajo">Juego exclusivo God of War</p>
                        <a th:href="@{/}"><img src='/images/carrito.jpg' width=20px alt="carrito"></a>
                    </picture>
                </li>
                <li>
                    <picture>
                        <img src='/images/vita.jpg' width=200px alt="vita">
                        <p class="texto-debajo">Playstation Vita</p>
                        <a th:href="@{/}"><img src='/images/carrito.jpg' width=20px alt="carrito"></a>
                    </picture>
                </li>
            </ul>
        <div/>    
    </body>
</html>
